{%  extends 'base.html' %}
{% block content %}
  <script>
    document.getElementById("prev-link").href="/01_pendulum";
    document.getElementById("next-link").href="/03_collision2d";
    document.getElementById("desc-span").innerHTML="2/8";
  </script>

  <header id='overview'>
    <h1>시뮬레이션 2. 용수철 운동</h1>
    <p class="headerDescription">
      "물리 엔진이란, 게임 등에서 물체의 움직임을 관할하는 프로그램이다. 절대로 자동차 엔진처럼 생긴 게 컴퓨터에서 뭔 짓 거리 하는게 아니다. 종종 엔진이라는 용어 하나로 엉뚱한 데로 가는 사람이 있다. 대표적으로 크게 두 가지가 있는데 하프 라이프2, 컴퍼니 오브 히어로즈 등에 채용된 인텔의 하복 엔진, 그리고 언리얼 엔진 3을 사용한 게임들로부터 자주 볼 수 있는 엔비디아의 피직스 엔진이 있다. 이것 외에도 NHN NEXT Physics Engine 이 있다."
    </p>
  </header>
  <hr>
  <div id="engine-container">
    <div id="gui-container"></div>
    <canvas id="canvas" width="800px" height="300px"></canvas>
  </div>

  <script type="text/javascript" src="../static/js/npengine.dev.js"></script>
  <script type="text/javascript" src="../static/js/dat.gui.min.js"></script>
  <script type="text/javascript">
    var eleCanvas = document.getElementById("canvas");
    var engine = new NPEngine(eleCanvas);
    var grid = new NPEngine.Grid;
    var spring = new NPEngine.Spring;
    engine.setGrid(grid);
    engine.addDisplayObject(spring);
    engine.ready();

    // default value
    var DefaultValue = function () {
      this.mass = 2;
      this.k = 100;
      this.gravity = 9.8;
      this.mu = 0;
      this.x = 2;
      this.velocity = 0;
    };

    window.onload = function () {
      var defaultValue = new DefaultValue();
      var gui = new dat.GUI();
      var container = document.getElementById("gui-container");
      container.appendChild(gui.domElement);


      var massFolder = gui.addFolder('질량 (kg)');
      massFolder.open();
      var mass = massFolder.add(defaultValue, 'mass');
      mass.onChange(function (value) {
        engine.stop();
        spring.setMass(value);
        engine.ready();
      });

      var kFolder = gui.addFolder('k (N/m)');
      kFolder.open();
      var k = kFolder.add(defaultValue, 'k');
      k.onChange(function (value) {
        engine.stop();
        spring.setK(value);
        engine.ready();
      });

      var gravityFolder = gui.addFolder('중력 (m/s^2)');
      gravityFolder.open();
      var gravity = gravityFolder.add(defaultValue, 'gravity');
      gravity.onChange(function (value) {
        engine.stop();
        spring.setGravity(value);
        engine.ready();
      });

      var muFolder = gui.addFolder('Mu (N s/m)');
      muFolder.open();
      var mu = muFolder.add(defaultValue, 'mu');
      mu.onChange(function (value) {
        engine.stop();
        spring.setMu(value);
        engine.ready();
      });

      var xFolder = gui.addFolder('초기 위치 (m)');
      xFolder.open();
      var x = xFolder.add(defaultValue, 'x');
      x.onChange(function (value) {
        engine.stop();
        spring.setX(value);
        engine.ready();
      });

      var velocityFolder = gui.addFolder('초기 속도 (m/s)');
      velocityFolder.open();
      var velocity = velocityFolder.add(defaultValue, 'velocity');
      velocity.onChange(function (value) {
        engine.stop();
        spring.setVelocity(value);
        engine.ready();
      });
    }
  </script>
{% endblock %}
