{%  extends 'base.html' %}
{% block content %}
  <script>
    document.getElementById("prev-link").href="/04plus_collision_pendulum";
    document.getElementById("next-link").href="/06_spring_motion_plus";
    document.getElementById("desc-span").innerHTML="5/8";
  </script>

  <header id='overview'>
    <h1>시뮬레이션 5. 궤적 운동</h1>
    <p class="headerDescription">
      포물선 운동을 기술한다.
    </p>
  </header>
  <hr>
  <div id="engine-container">
    <div id="gui-container"></div>
    <canvas id="canvas" width="800px" height="600px"></canvas>
  </div>

  <script type="text/javascript" src="../static/js/npengine.dev.js"></script>
  <script type="text/javascript" src="../static/js/dat.gui.min.js"></script>
  <script type="text/javascript">
    var engine = new NPEngine(document.getElementById("canvas"));
    var parabolicMotion = new NPEngine.ParabolicMotion;
    var grid = new NPEngine.QuadrantGrid;
    grid.setRatio(50);
    engine.setGrid(grid);
    engine.addDisplayObject(parabolicMotion);
    engine.ready();

    // default value
    var DefaultValue = function () {
      this.gravity = 9.8;
      this.mass = 1;
      this.mu = 0;
      this.angle = 45;
      this.velocity = 60;
    };

    window.onload = function () {
      var defaultValue = new DefaultValue();
      var gui = new dat.GUI();
      document.getElementById("gui-container").appendChild(gui.domElement);

      var gravityFolder = gui.addFolder('중력 (m/s^2)');
      gravityFolder.open();
      var gravity = gravityFolder.add(defaultValue, 'gravity');
      gravity.onChange(function (value) {
        engine.stop();
        parabolicMotion.setGravity(value);
        engine.ready();
      });

      var massFolder = gui.addFolder('질량 (kg)');
      massFolder.open();
      var mass = massFolder.add(defaultValue, 'mass');
      mass.onChange(function (value) {
        engine.stop();
        parabolicMotion.setMass(value);
        engine.ready();
      });

      var muFolder = gui.addFolder('Mu');
      muFolder.open();
      var mu = muFolder.add(defaultValue, 'mu');
      mu.onChange(function (value) {
        engine.stop();
        parabolicMotion.setMu(value);
        engine.ready();
      });

      var angleFolder = gui.addFolder('각도 (degree)');
      angleFolder.open();
      var angle = angleFolder.add(defaultValue, 'angle');
      angle.onChange(function (value) {
        engine.stop();
        parabolicMotion.setAngle(value);
        engine.ready();
      });

      var velocityFolder = gui.addFolder('속도 (m/s)');
      velocityFolder.open();
      var velocity = velocityFolder.add(defaultValue, 'velocity');
      velocity.onChange(function (value) {
        engine.stop();
        parabolicMotion.setVelocity(value);
        engine.ready();
      });
    };
  </script>
{% endblock %}
