{%  extends 'base.html' %}
{% block content %}
  <script>
    document.getElementById("prev-link").href="/07_rotation_motion";
    document.getElementById("next-link").href="/08_kepler_motion";
    document.getElementById("desc-span").innerHTML="8/8";
  </script>

  <header id='overview'>
    <h1>시뮬레이션 8. 케플러 운동</h1>
    <p class="headerDescription">
      "물리 엔진이란, 게임 등에서 물체의 움직임을 관할하는 프로그램이다. 절대로 자동차 엔진처럼 생긴 게 컴퓨터에서 뭔 짓 거리 하는게 아니다. 종종 엔진이라는 용어 하나로 엉뚱한 데로 가는 사람이 있다. 대표적으로 크게 두 가지가 있는데 하프 라이프2, 컴퍼니 오브 히어로즈 등에 채용된 인텔의 하복 엔진, 그리고 언리얼 엔진 3을 사용한 게임들로부터 자주 볼 수 있는 엔비디아의 피직스 엔진이 있다. 이것 외에도 NHN NEXT Physics Engine 이 있다."
    </p>
  </header>
  <hr>
  <div id="engine-container">
    <div id="gui-container"></div>
    <canvas id="canvas" width="800px" height="600px"></canvas>
  </div>

  <script type="text/javascript" src="../static/js/npengine.dev.js"></script>
  <script type="text/javascript" src="../static/js/dat.gui.min.js"></script>
  <script type="text/javascript">
    var engine = new NPEngine(document.getElementById("canvas"));
    var grid = new NPEngine.KeplerGrid;
    var kepler = new NPEngine.Kepler;
    engine.setGrid(grid);
    engine.addDisplayObject(kepler);
    engine.ready();

    var DefaultValue = function () {
      this.slow = 7;
      this.factor = 30;
      this.dampingFactor = 1;
    }

    window.onload = function () {
      var defaultValue = new DefaultValue();
      var gui = new dat.GUI();
      document.getElementById("gui-container").appendChild(gui.domElement);

      var slowFolder = gui.addFolder('시뮬레이션 속도 조절');
      slowFolder.open();
      var slowFactor = slowFolder.add(defaultValue, 'slow', 1, 9).step(1);
      slowFactor.onFinishChange(function (value) {
        engine.stop();
        kepler.setSlowFactor(value);
        engine.ready();
      });

      var augmentedFactorFolder = gui.addFolder('AugmentedFactor');
      augmentedFactorFolder.open();
      var augmentedFactor = augmentedFactorFolder.add(defaultValue, 'factor');
      augmentedFactor.onFinishChange(function (value) {
        engine.stop();
        kepler.setAugmentedFactor(value);
        engine.ready();
      });

      var dampingFactorFolder = gui.addFolder('DampingFactor');
      dampingFactorFolder.open();
      var dampingFactor = dampingFactorFolder.add(defaultValue, 'dampingFactor');
      dampingFactor.onFinishChange(function (value) {
        engine.stop();
        kepler.setDampingFactor(value);
        engine.ready();
      });
    }
  </script>
{% endblock %}
