{%  extends 'base.html' %}
{% block content %}
  <script>
    document.getElementById("prev-link").href="/07plus_rotation_motion";
    document.getElementById("next-link").href="/08_kepler_motion";
    document.getElementById("desc-span").innerHTML="8/8";
  </script>

  <header id='overview'>
    <h1>시뮬레이션 8. 케플러 운동</h1>
    <p class="headerDescription">
      태양, 지구, 달의 운동을 기술한다.
    </p>
  </header>
  <hr>
  <div id="engine-container">
    <div id="gui-container"></div>
    <canvas id="canvas" width="800px" height="600px"></canvas>
  </div>

  <script type="text/javascript" src="../static/js/npengine.dev.js"></script>
  <script type="text/javascript" src="../static/js/dat.gui.min.js"></script>
  <script type="text/javascript">
    var engine = new NPEngine(document.getElementById("canvas"));
    var grid = new NPEngine.KeplerGrid;
    var kepler = new NPEngine.Kepler;
    engine.setGrid(grid);
    engine.addDisplayObject(kepler);
    engine.ready();

    var DefaultValue = function () {
      this.slow = 7;
      this.factor = 30;
      this.dampingFactor = 1;
    }

    window.onload = function () {
      var defaultValue = new DefaultValue();
      var gui = new dat.GUI();
      document.getElementById("gui-container").appendChild(gui.domElement);

      var slowFolder = gui.addFolder('시뮬레이션 속도 조절');
      slowFolder.open();
      var slowFactor = slowFolder.add(defaultValue, 'slow', 1, 9).step(1);
      slowFactor.onFinishChange(function (value) {
        engine.stop();
        kepler.setSlowFactor(value);
        engine.ready();
      });

      var augmentedFactorFolder = gui.addFolder('AugmentedFactor');
      augmentedFactorFolder.open();
      var augmentedFactor = augmentedFactorFolder.add(defaultValue, 'factor');
      augmentedFactor.onFinishChange(function (value) {
        engine.stop();
        kepler.setAugmentedFactor(value);
        engine.ready();
      });

      var dampingFactorFolder = gui.addFolder('DampingFactor');
      dampingFactorFolder.open();
      var dampingFactor = dampingFactorFolder.add(defaultValue, 'dampingFactor');
      dampingFactor.onFinishChange(function (value) {
        engine.stop();
        kepler.setDampingFactor(value);
        engine.ready();
      });
    }
  </script>
{% endblock %}
