<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>NHN NEXT Physics engine (mini)</title>
  <link rel="stylesheet" href="../static/css/reset.min.css">
  <link rel="stylesheet" href="../static/css/index.css">
</head>
<body style="background-color: #000000">
  <section id="npmenu">
    <article id="npmenu-overview">
      <header>
        <h1>NPEngine.js</h1>
        <h2>NHN NEXT educational physics engine</h2>
      </header>
      <a href="#">Overview</a>
      <a href="https://github.com/reaperes/PhysicsEngine.git">View source code on Github</a>
    </article>
    <nav id="npmenu-simulation-list">
      <a class="hoverable" href="/pendulum">Pendulum</a>
      <a class="hoverable" href="/spring">Spring</a>
      <a class="hoverable" href="/collision2d">Collision2d</a>
      <a class="hoverable" href="/pendulumCollision">Pendulum Collision</a>
      <a class="hoverable" href="/pendulumCollisionPlus">Pendulum Collision Plus</a>
      <a class="hoverable" href="/parabolicMotion">Parabolic Motion</a>
      <a class="hoverable" href="/forcedSpring">Forced Spring</a>
      <a class="hoverable" href="/rotation">Rotation</a>
      <a class="hoverable" href="/rotationPlus">Rotation 2</a>
      <a class="hoverable" href="/kepler">Kepler</a>
    </nav>
  </section>
  <div id='npengine-container'>
    <div class="hoverable" id="gui-container"></div>
    <canvas id="canvas" style="background: #000000;"></canvas>
  </div>
  <script>
    (function () {
      var isFirst = true;
      var canvas = document.getElementById('canvas');

      window.addEventListener('resize', resizeCanvas, false);
      function resizeCanvas() {
        if (isFirst) {
          canvas.width = window.innerWidth;
          canvas.height = window.innerHeight;
          isFirst = false;
        }
      }
      resizeCanvas();
    })();

    var content = document.getElementById('content');
  </script>
  {% block content %}
  {% endblock %}
</body>
</html>