<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>NHN NEXT Physics engine (mini)</title>
  <link rel="stylesheet" href="../static/css/reset.min.css">
  <link rel="stylesheet" href="../static/css/index.css">
  <script type="text/javascript" src="../static/js/index.js"></script>
</head>
<body>
  <div class="navbar">
    <li><a id="home" href="/index" rel="home">NHN NEXT Physics Engine</a></li>
    <li><a id="pendulum" href="/01_pendulum">진자 운동</a></li>
    <li><a href="http://www.daum.net/">용수철 운동</a></li>
    <li><a href="http://www.nhnnext.org/">2차원 충돌</a></li>
  </div>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>