<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>NHN NEXT Physics engine (mini)</title>
  <link rel="stylesheet" href="../static/css/reset.min.css">
  <link rel="stylesheet" href="../static/css/index.css">
  <script src="http://www.google.com/jsapi"></script>
  <script>
   google.load( "webfont", "1" );
   google.setOnLoadCallback(function() {
    WebFont.load({ custom: {
     families: [ "NanumGothic" ],
     urls: [ "http://fontface.kr/NanumGothic/css" ]
    }});
   });
  </script>
  <script type="text/javascript" src="../static/js/index.js"></script>
</head>
<body>
  <div class="navigation-container">
    <ul class="navigation">
      <li><a id="home" href="/index" rel="home">NHN NEXT Physics Engine</a></li>
      <li class="prev">
        <a id="prev-link">←</a>
      </li>
      <li class="desc">
        <span id="desc-span">1/8</span>
        <div id="simulation-list-container">
          <ul>
            <li><a href="01_pendulum">1. 진자 운동</a></li>
            <li><a href="02_spring">2. 용수철 운동</a></li>
            <li><a href="03_collision2d">3. 2차원 충돌</a></li>
            <li><a href="04_collision_pendulum">4. 진자 충돌</a></li>
            <li><a href="04plus_collision_pendulum">4+. 다중 진자 충돌</a></li>
            <li><a href="05_parabolic_motion">5. 궤적 운동</a></li>
            <li><a href="06_spring_motion_plus">6. 용수철 충돌 (외력)</a></li>
            <li><a href="07_rotation_motion">7. 회전체 운동</a></li>
            <li><a href="07plus_rotation_motion">7+. 회전체 운동 plus</a></li>
            <li><a href="08_kepler_motion">8. 케플러 운동</a></li>
          </ul>
        </div>
      </li>
      <li class="next">
        <a id="next-link">→</a>
      </li>
    </ul>
  </div>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>