{%  extends 'base.html' %}
{% block content %}
  <script>
    document.getElementById("prev-link").href="/";
    document.getElementById("next-link").href="/01_pendulum";
    document.getElementById("desc-span").innerHTML="0/8";
  </script>

  <header id='overview'>
    <h1>Welcome to NHN NEXT Physics World!</h1>
    <p class="headerDescription">
      "물리 엔진이란, 게임 등 가상공간에서 물체의 움직임을 구현하는 프로그램이다. 대표적으로 상용화된 물리엔진은 두 가지가 있는데, 인텔의 하복 엔진과 (하프 라이프2, 컴퍼 니 오브 히어로즈 등에 채용되었음) 엔비디아의 Physics Engine (언리얼 엔진 3을 사 용한 게임들이 주로 이용)이 있다. NHN NEXT Physics Engine은 충돌, 중력장, 회전 체 운동 등 다양한 물리 현상을 가상공간에 구현하는 방법에 대한 교육용으로 만들어 졌으며, 궁극적으로는 게임/UI등 CS 분야에 활용 가능한 Open Source Library를 제 공하고자 한다."
    </p>
  </header>

{% endblock %}
