{%  extends 'base.html' %}
{% block content %}
  <script type="text/javascript" src="../static/js/npengine.dev.js"></script>
  <script type="text/javascript" src="../static/js/dat.gui.min.js"></script>
  <script type="text/javascript">
    var c = document.getElementById("canvas");
    var engine = new NPEngine(c);
    var grid = new NPEngine.QuadrantGrid;
    var motion = new NPEngine.ParabolicMotion({
      gravity: 9.8,
      mu: 0,
      mass: 1,
      theta: 45,
      velocity: 60
    });
    engine.setGrid(grid);
    engine.addDisplayObject(motion);
    engine.ready();

    // default value
    var DefaultValue = function () {
      this.gravity = 9.8;
      this.mu = 0;
      this.mass = 1;
      this.theta = 45;
      this.velocity = 60;
    };

    window.onload = function () {
      var defaultValue = new DefaultValue();
      var gui = new dat.GUI({autoPlace: false});
      document.getElementById('gui-container').appendChild(gui.domElement);

      var muFolder = gui.addFolder('마찰 계수');
      muFolder.open();
      setController(muFolder, 'mu');

      var massFolder = gui.addFolder('질량 (kg)');
      massFolder.open();
      setController(massFolder, 'mass');

      var thetaFolder = gui.addFolder('입사 각도');
      thetaFolder.close();
      setController(thetaFolder, 'theta');

      var velocityFolder = gui.addFolder('입사 속도');
      velocityFolder.close();
      setController(velocityFolder, 'velocity');

      function setController(guiFolder, variable) {
        var gui = guiFolder.add(defaultValue, variable);
        gui.onFinishChange(function (value) {
            var option = {};
            option[variable.toString()] = value;
            engine.stop();
            motion.setVariables(option);
            engine.ready();
        });
      }
    };
  </script>
{% endblock %}
